@-webkit-viewport{ width: device-width; }
@-moz-viewport{ width: device-width; }
@-ms-viewport{ width: device-width; }
@-o-viewport{ width: device-width; }
@viewport{ width: device-width; }

/*header*/
.site-blocks-cover.inner-page-top, .site-blocks-cover.inner-page-top .row {
    min-height: 0 !important;
    height: calc(330px) !important;
}

/*header*/
.header-holder{
  padding: 5px 0;
  background: #4582db;
}

.notice-block{
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;
}
.notice-block .title{
  /*float: left;*/
  margin-right: 8px;
}
ul.marquee {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
}
.notice-block ul.marquee a{
  color: #fff;
}
ul.marquee a:hover{
  color: #333;
}
ul.marquee li {
  position: absolute;
  top: -999em;
  left: 0;
  display: block;
  white-space: nowrap;
}

.flash-box {
  height: 30px;
  margin: 0 auto;
  padding-top: 0px;
  position: relative; 
  background: #1d619c;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  list-style:none;
}
.flash-box:before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  /*border-left: 15px solid #337ab7;*/
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.flash-box:after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 14px solid #4582db;
  border-left: 15px solid transparent;
  border-bottom: 16px solid #4582db;
  /*box-shadow: 20px 0px 0px 0px #424242;*/
}

.search-form {
  padding: 0px; 
}
.search-form .form-control{
  height: 28px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.search-form .input-group .btn{
  height: 28px;
  padding: 3px 12px;
  border-radius: 0;
  border-width: 0 0 0 1px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search-form .input-group .btn:hover{
  background: #333;
  color: #fff;
}

fieldset {
  min-width: 0;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
    vertical-align: top;
  }
}

@media only screen and (max-width: 767px){
  .search-form .input-group{
    max-width: 320px;
    margin-left: auto;
  }
}
/*menu*/
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    min-width: max-content !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    right: 8px;
}
.site-new {
  position: absolute;
}
.bg-transparent{
  background-color: #ffffff00 !important;
}
.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 0px 5px;
}
.site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 2px;
    text-transform: none;
    /*letter-spacing: .05em;*/
    color: rgba(0, 0, 0, 0.6);
    /*font-size: 16px;*/
    text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu .has-children a {
    text-transform: none;
}
/**/
.site-navbar .site-navigation .site-menu > li > a {
    color: #fff;
    /*font-weight: bold;*/
}
.site-navbar .site-navigation .site-menu > li > a:hover {
    color: rgb(255, 255, 255, 60%);
}
.site-navbar .site-navigation .site-menu .active > a {
    color: rgb(255, 255, 255, 60%) !important;
}
#nav-sticky:not(.scrolled) {
    border: 0!important;
    /*border-bottom: 1px solid rgba(255,255,255,.06)!important;*/
}
.menu-gradient {
  background: linear-gradient(to right bottom, #82a8e8, #0740a3) !important;
}
.shrink {
  /*background-color: #fff !important;*/
  background: linear-gradient(to right bottom, #82a8e8, #0740a3) !important;
}
#nav-sticky.shrink.scrolled {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
#nav-sticky {
    /* background: rgba(255,255,255,1); */
    /*box-shadow: 0 1px 4px 2px rgba(0,0,0,.06)!important;*/
    /*background: linear-gradient(to right bottom, rgba(251, 179, 61, 0.95), rgba(238, 53, 51, 0.95));*/
}
#nav-sticky.scrolled {
    top: 0;
    /*height: 75px;*/ /*shrink height*/
    margin-top: 0!important;
    -webkit-transition-delay: .2s !important;
    transition-delay: .2s !important;
    border: none!important;
}
/**/
.slant-1:before {
    top: -300px;
    /*transform: rotate( 4deg);*/
}
/*Footer*/
.site-footer {
    /*background: linear-gradient(to right bottom, #82a8e8, #0740a3);*/
    color: rgba(255, 255, 255, 1);
}
.site-footer a {
    color: #fff;
}
.site-footer a:hover {
    color: rgba(255, 255, 255, 0.3);
}
.slant-footer {
  height: 70px;
  position: relative;
  z-index: 4;
  border: 0px solid red; 
}
  .slant-footer:before {
    position: absolute;
    width: 100%;
    content: "";
    /*background: #fff;*/
    background-image: url('../images/anime-footer.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    /*z-index: 9;*/
    /*top: -90px;
    transform: rotate( 4deg);*/
    top: -72px;
    left: 0;
    right: 0;
    bottom: 0;
    /*-webkit-transform: rotate(-5deg) translateX(-20%);
    -ms-transform: rotate(-5deg) translateX(-20%);
    transform: rotate(-5deg) translateX(-20%); */
  }

.slant-footer {
  height: 200px;
}

/*list*/
.flush-border > .list-group-item:first-child {
    border-top: 0 !important;
}

.list-group-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.list-group-item:last-child {
  border-bottom: 0px  !important;
}

/*tab*/
.tile
{
  /*width:80%;*/
  /*margin:60px auto;*/
}
#tile-1 .tab-pane
{
  /*padding:15px;*/
  /*height:80px;*/
}
#tile-1 .nav-tabs
{
  position:relative;
  border:none!important;
  background-color:#e3e8ec;
/*   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
  /*border-radius:6px;*/
}
#tile-1 .nav-tabs li
{
  margin:0px!important;
}
#tile-1 .nav-tabs li a
{
  position:relative;
  margin-right:0px!important;
  /*padding: 20px 40px!important;*/
  font-size:16px;
  border:none!important;
  color:#333;
}
#tile-1 .nav-tabs a:hover
{
  background-color:#fff!important;
  border:none;
}
#tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:var(--danger);
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
#tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:var(--danger)!important;
}

/* chief*/
  .service-details {
    /*width: 460px;*/
    height: 250px;
    /*height: 230px;*/
    overflow: hidden;
    position: relative;
  }

  .service-details img {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: auto;
    height: 100%;
    float: left;
    transition: all 0.8s;
    -moz-transition: all 0.8s;
  }

  .service-details:hover img {
    /*opacity: 0.4 !important;*/
  }

  .service-details .service-hover-text h3 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    font-weight: 300;
    font-family: "Open Sans";
  }

  .service-details .service-hover-text h4 {
    padding: 0px;
    padding-bottom: 13px;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 90%;
    font-family: "Open Sans";
    text-transform: uppercase;
    border-bottom: 2px solid #000;
  }

  .service-details .service-hover-text p {
    padding-top: 13px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans";
  }

  .service-details .service-hover-text {
    width: 42%;
    height: 89%;
    position: absolute;
    top: 0%;
    left: 58%;
    padding: 3% 4%;
    background: #D90E0E;
    color: white;
    /*  display: none;*/
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.4s;
  }

  .service-details:hover .service-hover-text {
    display: block !important;
    color: white;
    background: rgba(217, 14, 14, 0.85);
    left: 0px;
    top: 0px;
  }

  .service-details .service-text {
    width: 50%;
    height: inherit;
    background: #000;
    float: left;
    position: absolute;
    left: 50%;
  }

  .service-details .service-text p {
    padding: 100px 0px 0px 20px;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #fff;
  }

  .service-details .service-text p span {
    font-family: "Open Sans" !important;
  }

  .service-details .service-text a, .service-white .service-text {
    padding: 0px 0px 0px 20px;
    font-size: 14px !important;
    color: #FF5A22 !important;
    font-family: "Open Sans" !important;
    text-decoration: none !important;
  }

  .service-details .service-text {
    float: left;
  }

  .service-white {
    background: #eee !important;
    width: 50% !important;
    height: inherit !important;
  }

  .service-white p {
    color: #000 !important;
  }

/*chief*/
  .user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-profile {
    box-shadow: 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.5);
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 325px;
    height: 300px;
    z-index: 3;
  }

  .user-profile p {
    font-weight: 300;
    letter-spacing: 1px;
    margin: 5px 0 10px;
  }

  .user-info {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 55px rgba(0, 0, 0, 0.5);
    /*display: flex;*/
    justify-content: space-around;
    list-style-type: none;
    padding: 30px 0 15px;
    margin-top: -15px;
    width: 80%;
    /*text-align: center;*/
    z-index: 2;
  }

  .user-info h3 {
    margin: 0;
  }

  .user-info small {
    color: #bbb;
    font-weight: 100;
    font-size: 12px;
    margin: 0;
  }

/*chief 2*/
  .blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    /*font-family: sans-serif;*/
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: var(--primary);
  }
  .blog-card:hover .photo {
    transform: scale(1.2) rotate(1deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 1s;
  }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: var(--primary);
    display: inline-block;
    position: relative;
  }
  .blog-card .description .read-more a:after {
    content: "ï¡";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
  }
  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    /*margin: 1rem 0 0;*/
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--primary);
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }

  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg);
    }
  }

/*report*/
  .coupon .kanan {
      border-left: 1px dashed #ddd;
      /*width: 40% !important;*/
      position: relative;
  }

  .coupon .kanan .download-section::after, .coupon .kanan .download-section::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 100%;
  }
  .coupon .kanan .download-section::before {
      top: -10px;
      left: -10px;
  }

  .coupon .kanan .download-section::after {
      bottom: -10px;
      left: -10px;
  }

/*read more*/
  .effect1 {
    color: var(--dark);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    padding: 10px 50px 10px 20px;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;

    -webkit-transform: scale(3);

        -ms-transform: scale(3);

            transform: scale(3); /*change scale(3) to scale(1)*/
  }

  .effect1 .bg {
    background: #222;
    width: 30px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    z-index: -1;

    -webkit-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;
  }

  .effect1:hover {
    padding-right: 20px;
    color: #fff;
  }

  .effect1:hover .bg {
    height: 100%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .effect1 .bg:before, .effect1 .bg:after {
    content: '';
    height: 2px;
    width: 10px;
    background: #222;
    position: absolute;
    right: -2px;      
    -webkit-transition: all 0.3s;      
    -o-transition: all 0.3s;      
    transition: all 0.3s;
  }

  .effect1 .bg:before {
    bottom: 3px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .effect1 .bg:after{
    top: 3px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .effect1:hover .bg:before,
  .effect1:hover .bg:after{
    right: 0;
  }

  .effect1:hover .bg:before{
    bottom: 6px;
  }

  .effect1:hover .bg:after{
    top: 6px;
  }

/* list*/
  .the-arrow {
    width: 1px;
    transition: all 0.2s;
  }
  .the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
  }
  .the-arrow.-left > .shaft {
    width: 0;
    background-color: #4c4c4c;
  }
  .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: #4c4c4c;
  }
  .the-arrow.-left > .shaft:before {
    transform: rotate(0);
  }
  .the-arrow.-left > .shaft:after {
    transform: rotate(0);
  }
  .the-arrow.-right {
    top: 0px;
  }
  .the-arrow.-right > .shaft {
    width: 1px;
    transition-delay: 0.2s;
  }
  .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
  }
  .the-arrow.-right > .shaft:before {
    transform: rotate(40deg);
  }
  .the-arrow.-right > .shaft:after {
    transform: rotate(-40deg);
  }
  .the-arrow > .shaft {
    background-color: #4c4c4c;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
  }
  .the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: #4c4c4c;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
  }
  .the-arrow > .shaft:before {
    transform-origin: top right;
  }
  .the-arrow > .shaft:after {
    transform-origin: bottom right;
  }

  .animated-arrow {
    display: inline-block;
    color: #4c4c4c;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
  }
  .animated-arrow:hover {
    color: #808080;
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: #808080;
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: #808080;
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(40deg);
  }
  .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-40deg);
  }
  .animated-arrow:hover > .main {
    transform: translateX(17px);
    transform: translateX(80px);
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
  }
  .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
  }
  .animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
  }
  .animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
  }
  .animated-arrow > .main > .the-arrow {
    position: relative;
  }

/*search field*/
  #search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
  }

  #search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
  }

  #search input[type="text"] {
    position: absolute;
    top: 30%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
  }
  #search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
  }
  #search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    /*background-color: #428bca;*/
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
  }

/*logo bg*/
  .logo-bg > img{
    top: 30px;
    filter:opacity(30%);
  }

/*common*/
.z-index-4{
  z-index: 4;
}